
**/.DS_Store

/Release
**/Release
**/Release/*

/build
**/build
**/build/*

.cproject
.pydevproject
.project
.settings
**/.cproject
**/.pydevproject
**/.project
**/.settings

*.pyc
**/*.pyc
*.mk
**/*.mk

/controlino/Release

controlino/.project

controlino/.project

*.prefs

*.d

*.o

*.mk

controlino/.project

*.pyc
