
.DS_Store

controlino/Release/arduino.ar

*.elf

*.hex

*.ar

controlino/Release/makefile

instrumentino/dist/instrumentino-1.05-py2.7.egg

instrumentino/ez_setup.pyc

*.pyc

*.pyc

instrumentino/instrumentino/controllers/arduino/hvm.pyc

instrumentino/instrumentino/controllers/arduino/pid_thermostat.pyc

instrumentino/instrumentino/controllers/arduino/pewatron.pyc
